
        body{
            background-color: var(--dark);
            font-family:  'Arial Narrow Bold', sans-serif;
            font-weight: lighter;
            /* letter-spacing: 1px; */
            overflow: hidden;
        }

        nav{
            background-color: rgb(155, 155, 155);
        }

        ul{
            list-style: none;
            
        }

        .mealCard{
            border: 1px solid;
            height: 500px;
            overflow: auto;
        }


        .tab-pane:hover{
            cursor: pointer;
            background-color: lightgray;
            color: var(--dark);
            box-shadow: 0 0 4px 1px white;
            border-bottom: 7px solid var(--primary);
            
        }



        .card{
            background-color: rgb(199, 199, 199);
            color: white;
            border: none;
            border-bottom: 4px solid var(--primary);
            border-radius: 6px 6px 0px 0px;
            margin-bottom: 3px;
            
            
        }

        .tab-pane{
            transition: all 0.2s ease-in;
            color: #61676d;
        }

        .backBtn {
            border-radius: 50%;
            /* background-color: #777; */
            width: 2.5rem;
        }

        .backBtn:hover{
            background-color: #666;
            cursor: pointer;
        }

        .meals{
            position: relative;

            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .secondSection{
            
            position: relative;
        }

        .countNumber:hover{
            cursor: pointer;
        }

        .styleMessage{
            background-color: #61676d;
            color: yellow;
            border-radius: 10px;
            padding: 2px;
        }

        .buttonsFooter{
            width: 100%;
            position:absolute;
            bottom: 0;
            left: 0;
        }


        .bill{
            margin-left: 20px;
            background-color: #6c757d;
            border-radius: 6px;
            box-shadow: 0px 0px 6px 1px rgb(63, 62, 62);
            
            
        }

        .bill .billHead{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
            background-color: var(--purple);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 6px 6px 0 0;
        }

        .bill .order{
            margin-left: 0;
            padding-right: 10px;
            height: calc(100% - 165px);
            width: 100%; 
            position: absolute; 
            top: 100px; 
            left: 0;
            border-radius: 0 0 7px 7px;
            /* overflow-y: hidden; */
            /* border: 1px solid; */
            /* border: 1px solid red;   */
            /* margin-bottom: 50px; */
            /* margin-bottom: 50px; */
            /* margin-top: 100px; */
        }
        
        .tableHeight{
            height: calc(100% - 95px) ;
            /* overflow-y: scroll; */
        }

        table{
            position: relative;
        }

        .tableHead{
            position: sticky;
        }


        .firstFooter{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: lightslategrey;
            color: white;
            text-align: center;
            border-radius: 0px 0px 5px 5px;

            display: none;
        }

        .secondFooter{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95px;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            border-radius: 0px 0px 5px 5px;
        }

        .delete{
            background-color: lightgray;
        }

        .delete:hover{
            background-color: aliceblue;
            cursor: pointer;
        }

        .undo{
            background-color: lightgray;
        }

        .undo:hover{
            background-color: aliceblue;
            cursor: pointer;
        }

        @media (max-width: 768px){
            *{
                font-size: 10px;
            }
        }
